/ index.html.haml
%h1 Hullo, #LOA!

.content
  %h2#playlist= "Listing tracks for #{@playlist.name} (#{@playlist.to_str}):"
  - @tracks.each_with_index do |track, i|
    %span.row= "\t (#{i+1}/#{@playlist.size}) #{track.name}"
    %br