%article.object.playlist
  %h1
    = image_to(@playlist.image) if @playlist.image
    = @playlist.name

  %p.details.artist>
    by&nbsp;
    = link_to @playlist.owner.name, @playlist.owner

  -unless @tracks.empty?
    .clear
    %section.tracks
      %h2
        Tracks 
        %small
          (
          = "#{@tracks.count} tracks,"
          = "#{@duration} hours"
          )
      %table
        %thead
          %tr
            %td #
            %td Track
            %td Artist
            %td Time
        %tbody
          - @tracks.each_with_index do |track, i|
            %tr
              %td= i+1
              %td{ nowrap: 'nowrap' }= link_to track.name.gsub(/^(.{20}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'}, track
              %td{ nowrap: 'nowrap' }= link_to track.artist.name.gsub(/^(.{20}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'}, track.artist
              %td= duration_in_minutes(track.duration)
