%article.object.track
  %h1>
    = image_to(@album.cover_link) if @album.cover_link
    = @track.name
    %small>
      (
      = duration_in_minutes(@track.duration)
      )
  %p.details.artist>
    by
    = link_to @artist.name, @artist
  %p.details.album>
    in album
    = link_to @album.name, @album
